.site{
  color: #333;
  font-family: 'PT Serif', serif;
}

.card{
}

aside{
  position: fixed;
  left: 0;
  top: 0; 
  width: 300px;
  height: 100%;
  background-color: #C6F0F2;
  border-right: 5px solid #B2DCDE;
  color: #333;
  padding: 10px;
  text-align: center;
}

header{
  
}
  header > div{
    padding:1em 0;
  }
  header h1 a{
    color: #333;
  }
    header h1 a:hover{
      text-decoration: none;
    }

  .photo{
    text-align: center;
  }
    .photo .location{
      margin-top:1em;
    }
    .photo img{
      border-radius: 10px;
    }
    .ad{
      margin-top: 20px;
    }

/** styles for the details section / common from home page **/
.details h2{
  font-size: 2em;
  color: #000;
}
  .details a{
    color: #333;
    border-bottom: 1px dotted;
  }
    .details a:hover{
      text-decoration: none;
      border-bottom-style: solid;
      color: #00f;
    }
  .details ol{
    margin-top: 2em;
    list-style: none;
  }
    .details ol li{
      margin:1em 0;
    }
  .details p{
    line-height: 1.5em;
  }
  .details > div{
    margin-left: 0;
    padding-left: 30px;
  }
.about{
  border-top: 5px solid #2ecc71;
}
  .about li a i{
    margin-right: 5px;
    display: inline-block;
  }
  .about .icon-edit{
    color: #000;
  }
  .about .icon-thumbs-up{
    color: #3B5998;
  }
  .about .icon-linkedin{
    color: #4875B4;
  }
.projects{
  border-top: 5px solid #3498db;
}
  .projects li a i{
    margin-right: 5px;
    display: inline-block;
  }
.contact{
  border-top: 5px solid #9b59b6;
}
  .contact a{
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
  }
  .contact a.email{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=gmail.com);
  }
  .contact a.twitter{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=twitter.com); 
  }
  .contact a.bitbucket{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=bitbucket.org);
  }
  .contact a.github{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=github.com);
  }
x
/** end of details section style **/

footer{
  font-size: .8em;
  margin-top:2em;
}


/* posts page */
ol.posts{
  margin: 0;
  padding:0;
  margin-top: 1em;
}
  ol.posts li{
    padding:1em;
    font-size: 1.1em;
    letter-spacing: .1em;
  }

  /* posts in aside */
  aside ol.posts{
    list-style: none;
    margin-top: .2em;
    font-size: .9em;
  }
    aside ol.posts li{
      padding: .2em;
    }

#post{
  color: #333;
  line-height: 2em;
  font-size: 1.2em;
}
  #post pre{
    margin: 0;
  }
  #post h1, #post h2, #post h3, #post h4{
    margin-top: 1em;
  }
    #post article > h1:nth-child(1){
      display: none;
    }
  #post time{
    color: #aaa;
    font-size: .8em;
  }
  #post ol li, #post ul li{
    line-height: 2em;
  }
  #post blockquote p{
    line-height: 1.5em;
  }
#post > article, #post > section{
  margin-top:2em;
}

.search{
}
  .search > div{
    margin-left: 0;
  }
.social{
  margin-top: 2em;
}
  .social i{
    color: #f00;
  }

@media (max-width: 1200px) {
    aside{
      position: static;
      border-right: none;
    }
  }