---
---
@import 'bootstrap.min';
@import 'syntax';

$bg : #F5F0EB;
$pad : 10px;
$base-color: #F36C3D;
$base-contrast-color:#fff;
$light-base-color : lighten($base-color, 25%);
$lighter-base-color : lighten($base-color, 35%);
$link-color: $base-color;
$brand-font: Arial, Sans-Serif;
$text-color: #3D4950;
$heading-color: $text-color;
$widget-color : #FCF9F7;
$widget-alt-color : #EAF3F9;

*{
  box-sizing:border-box;
}


.blog{
  background-color: $bg;
  color: contrast($bg);
  font:1em $brand-font;

  a{
    color: $link-color;
  }
  p{
    line-height: 3.2rem;
    margin-bottom: 20px;
  }
}

.main nav{
  position:relative;
  color: $base-contrast-color;
  padding: (2 * $pad);
  font:2rem $brand-font;
  background-color:$base-color;
  a.brand{
    color: $base-contrast-color;
    text-decoration: none;
  }
  .search-box-xs{
    margin:20px 0;
  }
  .tagline{
    font-size: 1.4rem;
    margin:0;
    padding:3px 0 0 0;
    font-style:italic;
  }
  ul.meta-menu{
    list-style: none;
    padding:0;
    margin:0;
    li{
      display: inline-block;
      &:after{
        content: '|';
        color:$lighter-base-color;
        display: inline-block;
        padding:0 10px;
      }
      &:last-child:after{
        content:'';
      }
      a{
        font-size: 1.5rem;
        &:link, &:hover, &:active, &:visited{
          color: #fff;
        }
        &:hover{
          text-decoration: none;
          border-bottom: 1px dashed;
        }
      }
    }
  }
}

.main .main-content{
  background-color: #fff;
  .all-posts{
    font-size: 3rem;
    padding: 30px 0 60px 0;
  }
}
.main{
  .posts-list{
    padding: 2 * $pad;
  }
}

.posts-list{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    border-bottom: 1px solid $lighter-base-color;
    padding: (2 * $pad) 0;

    &:first-child{
      padding-top: 0;
    }
    &:last-child{
      padding-bottom: 0;
    }

    .gad{
      text-align: center;
    }
  }

  .readmore{
    font-size: 1.5rem;
    a{
      border-bottom:1px dashed;
      &:hover{
        text-decoration: none;
        border-bottom-style:solid;
      }
    }
    a:after{
      content: '>>';
      padding-left:$pad;
    }
  }

  &.recent{
    h2{
      font:2.5rem $brand-font;
      a{
        color: $heading-color;
      }
    }
    .date{
      color: #A2B1B9;
      font:1.5rem $brand-font;
    }
    .excerpt{
      color: $text-color;
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
  }
}

.post{
  background-color: #fff;
  padding: (2 * $pad);
  h1{
    color: $heading-color;
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 5rem;
    font-weight: 300;
  }
  h2{
    color: $heading-color;
    font-size: 3rem;
    line-height: 4rem;
    margin:4rem 0;
    font-weight: 300;
  }
  h3{
    color: $heading-color;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin:2.5rem 0;
    font-weight: 300;
  }
  h4, h5, h6{
    color: $heading-color;
    font-size: 2rem;
    line-height: 3rem;
    margin:1rem 0;
    font-weight: 300;
  }
  .date{
    color: #A2B1B9;
    font:1.5rem $brand-font;
    margin-bottom: 2rem;
  }
  .post-content{
    font-size: 1.8rem;
    line-height: 2.8rem;
    img{
      max-width: 90%;
      height: auto;
      margin: 50px auto;
      display: block;
      border-radius: 10px 0 10px 0;
    }
    pre{
      font-size: 1.2rem;
      line-height: 2.2rem;
      border-radius: 0;
      border:none;
      margin: 20px 0;
    }
    blockquote{
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 300;
    }
  }
}

.author{
  background: rgb(234,243,249); /* Old browsers */
  padding:2 * $pad;
  img{
    width: 120px;
    height: auto;
  }
  h3{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 1rem 0 2rem 0;
  }
  p{
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.other-posts{
  background-color: $widget-alt-color;
  font-size: 1.5rem;
  padding: (4 * $pad) (2 * $pad);
  .next{
    text-align: left;
  }
  .previous{
    text-align: right;
  }
}
.comments{
  background-color: #fff;
  padding: 2 * $pad;
}
.side{
  .widget{
    padding: 20px;
    background-color: $widget-color;
    &:nth-child(even){
      background-color: $widget-alt-color;
    }
    &.short-bio{
      padding: 0;
    }
    h3{
      font-size: 2rem;
      font-weight: 300;
      margin: 0;
      padding: 1rem 0 2rem 0;
    }
    .matter{
      font-size: 1.5rem;
      line-height: 2.5rem;

      ul, ol{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          padding:10px 0 10px 5px;
          border-bottom: 1px solid $widget-color;
          &:first-child{
            padding-top: 0;
          }
          &:last-child{
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
    &.ad-sky-scraper{
      text-align: center;
    }
  }
}
.blog{
  footer{
    margin-top: 20px;
    background-color: $base-color;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 20px 0;

    a{
      color: #fff;
      margin: 0 10px;
    }
  }
}
.fb-like-box{
  text-align: center;
  width: 100%;
  margin:20px 0;
  padding: 20px 0;
  background: #fff;
}

.page{
  background-color: #fff;
  font-size: 1.5rem;
  padding: 2 * $pad;
}
.gad{
  margin: 20px 0;
}

.all-posts{
  .matter{
    text-align: center;
    a{
      background-color: $base-color;
      color: #fff;
      padding: 5px 10px;
      text-transform: uppercase;
      border-radius: 20px;
      transition:background-color .5s;
      &:hover, &:link, &:active, &:visited{
        color: #fff;
      }
      &:hover{
        background-color: #f00;
        text-decoration: none;
      }
    }
  }
}

.promo{
  font-size: 1.5rem;
  background-color: #ffffaf;
  color: #777;
  margin: $pad 0;
  padding: $pad;
  border-radius: $pad;
  a{
    color: $link-color;
    text-decoration: underline;
  }
}

@media (max-width: 320px){
  .container{
    margin:0 -15px;
  }

  .post{
    h1{
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .post .gad{
    margin:0 -15px;
    text-align: center;
  }

}

.home{
  nav{
    background-color:$base-color;
    color:$base-contrast-color;
    font-size:2rem;
    text-align: center;
    width: 100%;
    padding-top:3*$pad;
    a{
      color: $base-contrast-color;
    }
    .tagline{
      font-size: 1.5rem;
      margin:0;
      padding-bottom:3*$pad;
    }
    ul{
      padding:$pad 0;
      margin:0;
      background-color:$lighter-base-color;
      list-style: none;
      li{
        display: inline-block;
        font-size: 1.5rem;
        margin-right:2*$pad;
        &:last-child{
          margin-right:0;
        }
        a{
          color: $link-color;
        }
      }
    }
  }
  .posts-list{
    padding:$pad;
    li{

    }
  }
  .all-posts{
    text-align: center;
    margin:2*$pad 0;
    a{
      font-size: 1.3rem;
      background-color:$base-color;
      color: $base-contrast-color;
      padding:$pad 2*$pad;
      border-radius:5px;
    }
  }
}

@media(min-width:768px){
  .home{
    .posts-list{
      width: 760px;
      margin:0 auto; 
      overflow: hidden;
      li{
        float: left;
        width: 175px;
        height: 190px;
        background-color:#fff;
        padding:$pad;
        margin:$pad/2;
        box-shadow:0 0 5px #eee;
        border-radius:5px;
        position: relative;
      }
      h2{
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      .date{
        font-size: 1rem;
      }
      .category{
        font-size: 1.2rem;
        color: #aaa;
        position:absolute;
        bottom:$pad;
        left:$pad;
        [class*='logo-']{
          display: none;
          width: 16px;
          height: 16px;
          background-image:url(/blog/img/logos.png);
          background-repeat:no-repeat;
          margin-right: $pad;
        }
        .logo-javascript{
          display: inline-block;
        }
        .logo-web, .logo-html{
          display: inline-block;
          background-position:-17px 0;
        }
        .logo-css{
          display: inline-block;
          background-position:-35px 0;
        }
        .logo-java{
          display: inline-block;
          background-position:-50px 0;
        }
      }
    }
  }
}