body.blog{
  font:1em "PT Serif", Georgia, Serif;
  color: :#333;
  background-color: #fce6e3;
}

.btn.primary{
  display: inline-block;
  background-color: #e74c3c;
  color: #fff;
  border-bottom: 3px solid #c0392b;
  padding: .5rem 1rem;
}

.header{
  border:none;
  border-radius:0;
  background-color:#fff;
  opacity: .7;
}
  .header.navbar .nav a, .header .navbar-brand{
    color: #e74c3c;
  }
  .header.navbar .nav a:hover, .header .navbar-brand:hover{
    color: #c0392b;
  }
  .header .navbar-brand{
    font-weight: bold;
  }
  .header .site-links{
    margin-left: 2rem;
  }
  .header .site-links a{
    text-transform:uppercase;
    font-size: 1.3rem;
    letter-spacing: 1pt;
  }
.post{
  background-color: #FEF7F6;
  color: :#333;
  padding: 2rem;
  border-radius: 3rem 0 3rem 0;
}
  .post h1{
    font:3rem "PT Serif", Georgia, Serif;
    color: #e74c3c;
  }
  .post .content{
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 2rem;
  }
  .post a{
    color: #e74c3c;
  }
  .post .content img{
    width: 100%;
    height: auto;
  }
  .post footer{
    border-top:1px dashed #fce6e3;
    border-bottom:1px dashed #fce6e3;
    padding:2rem 0;
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .post footer img{
    width: 100%;
    max-width: 150px;
    height: auto;
    border:2px solid #fff;
    margin-top: 2rem;
    border-radius: 3rem 0 3rem 0;
  }
  .post footer .title{
    font:2.3rem "PT Serif", Georgia, Serif;
  }
.posts-list{
  font-size: 1.5rem;
}
.posts-list ul{
  list-style: none;
  margin:0;
  padding: 0;
}
.posts-list li{
  
}
.posts-list li a{
  padding: 1rem .5rem;
  display: block;
  width: 100%;
  color: #e74c3c;
  text-align: center;
}
.posts-list header .title{
  font: 2rem "PT Serif", Georgia, Serif;
  text-align: center;
}
.posts-list .archives{
  margin:0 auto;
  display: block;
}
.other-posts{
  font-size: 1.2rem;
  margin:2rem 0;
}