.site{
  background-color: #fafafa;
  color: #333;
}
header{
}
  header h2{
    font-size:1.2em;
  }
  header h2 span{
    font-weight: normal;
    color:#aaa;
    font-size: .8em;
  }
.links{
  list-style:none;
  margin-top:1.5em;
  margin-left:-2em;
  padding: 0;
  display: inline-block;
}
.links li{
  display: inline-block;
  padding: 0 .51em;
}
.links li a img{
  width:20px;
}
ul.posts{
  list-style: none;
}
ul.posts li span{
  color:#aaa;
}

.hero{
  margin: .2em 0 1em 0;
  padding:.5em 0;
  background-color: #91A3B0;
  color: #fafafa;
  text-align: center;
  font-family: Courier;
}
  .hero a{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dashed;
  }

.endfinity{
  margin:1em 0;
  text-align: center;
}

#post{
  font:1.3em Georgia;
  line-height: 1.6em;
}

#post .content.container h1{
  display: none;
}

.arrow{
  font-size: 3em;
  color: #fff;
  margin-top: 1em;
}
  .arrow a{
    text-decoration: none;
    border: none;
    opacity: .7;
  }
    .arrow a:hover{
      opacity: 1;
    }
    .arrow a[href='/blog']{
      display: none;
    }
#post pre{
  margin:1em -6em;
  border-left: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

#post li{
  line-height: 1.5em;
}
.ad{
  text-align: center;
  margin:1em 0;
}
.content{
  margin-top: 1em;
}

#post .title{
  text-align: center;
}