@import "_variables";
@import "_reset";
@import "_icons";

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #ffffff;
  font: 1em 'Open Sans', sans-serif;;
}

a {

  &:link {
    color: $blue;
  }

  &:hover,
  &:active {
    color: $darker-blue;
  }

  &:visited {
    color: $light-blue;
  }

}

.me {

  padding: 2 * $pad;
  border-bottom: 1px solid $light-blue;

  .avatar {
    float: left;
    width: 50px;
    border-radius:50%;
  }

  .name {
    margin-left:2 * $pad;
    font-size:2rem;
    font-weight:600;
    display: none;
  }

  .punch-line {
    display: none;
  }

  .social-links {

    float:right;
    margin: $pad $pad 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 2 * $pad;;
    }

    i[class^="icon-"] {
      display: inline-block;
      font-size: 2rem;
    }

    em {
      display: none;
    }

  }

}