<section class="me box">
  <div class="photo">
    <a href="/blog/about-me.html"><img src='/blog/img/vraa.jpeg'/></a>
  </div>
  <div class="short-bio">
    <div class="short-bio-wrapper">
      <p class="name-job"><span class='name'>Veera</span> <em>-</em> <span class='job'>JavaScript programmer</span></p>
      <ul class="elsewhere">
        <li>
          <a href="http://github.com/vraa">Github <em>vraa</em></a>
        </li>
        <li>
          <a href="http://twitter.com/vraa">Twitter <em>@vraa</em></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/veerasundar">LinkedIn <em>veera.sundar</em></a>
        </li>
        <li>
          <a href="mailto:veera.k.sundar@gmail.com">Gmail <em>veera.k.sundar</em></a>
        </li>
      </ul>

      <div class="resume-link">
        <a class="cta-button" href="http://veerasundar.com/resume/">Resume</a>
      </div>
    </div>
  </div>
</section>