<section class="projects box">
  <h2>Web Apps</h2>
  <ol>
    <li class="featured">
      <a href="http://veerasundar.com/route-planner" title="Route Planner using Google Maps"><img
              src="http://veerasundar.com/img/projects/routeplanner.png" title="Feedmerang - Send and Receive feedback"
              alt="http://veerasundar.com/route-planner"></a>
      <h3><a href="http://veerasundar.com/route-planner" title="Route Planner using Google Maps">Route Planner</a></h3>
      <p>Route Planner helps you to plan your travel routes. Create up to 10 routes. See distance and time details for
        each way points and whole route.</p>
    </li>
    <li>
      
      <a href="http://veerasundar.com/app/countrack/"><img src="http://veerasundar.com/img/projects/countrack.png" title="Countrack.me"
                                          alt="http://veerasundar.com/app/countrack/"></a>
      <h3><a href="http://veerasundar.com/app/countrack/">Countrack</a></h3>
      <p>Countrack is a offline enabled web application, targeted to mobile devices, to help the user track
        activities.</p>
    </li>
    <li>
      <a href="https://github.com/vraa/timethetask"><img src="http://veerasundar.com/img/projects/timethetask.png"
                                                     title="Time the task - task management in Agile style"
                                                     alt="https://github.com/vraa/timethetask"></a>
      <h3><a href="https://github.com/vraa/timethetask">Time the task</a></h3>
      <p>Time the task is a web application for managing and time tracking tasks. It has a agile style dashboard where
        user can move around tasks to different statuses.</p>
    </li>
    <li>
      <a href="http://timelinebuilder.appspot.com/"><img src="http://veerasundar.com/img/projects/timelinr.png" title="Timelinr"
                                                         align="http://timelinebuilder.appspot.com"></a>
      <h3><a href="http://timelinebuilder.appspot.com/">Timelinr</a></h3>
      <p>Timelinr or timeline builder helps you to make visual timelines and generate HTML for it so that the timeline
        can be embedded in any web page.</p>
    </li>
  </ol>
</section>

<section class="projects games box">
  <h2>Games</h2>
  <ol>
    <li class="featured">
      <h3><a href="http://veerasundar.com/suzhi/">Suzhi</a></h3>
      <a href="http://veerasundar.com/suzhi/"><img src="http://veerasundar.com/img/projects/suzhi.png" alt="Suzhi" title="Suzhi"></a>
    </li>
    <li>
      <h3><a href="http://veerasundar.com/2048/">2048</a></h3>
      <a href="http://veerasundar.com/2048/"><img src="http://veerasundar.com/img/projects/2048.png" alt="2048" title="2048"></a>
    </li>
    <li>
      <h3><a href="http://veerasundar.com/33holepegsolitaire/">Brainvita</a></h3>
      <a href="http://veerasundar.com/33holepegsolitaire/"><img src="http://veerasundar.com/img/projects/brainvita.png" alt="Brainvita"
                                                                title="Brainvita"></a>
    </li>
    <li>
      <h3><a href="http://veerasundar.com/rock-paper-scissor-lizard-spoc/">Rock Paper Scissor Lizard Spoc</a></h3>
      <a href="http://veerasundar.com/rock-paper-scissor-lizard-spoc/"><img src="http://veerasundar.com/img/projects/rpsls.png"
                                                                            alt="Rock Paper Scissor Lizard Spoc"
                                                                            title="Rock Paper Scissor Lizard Spoc"></a>
    </li>
  </ol>
</section>