<div class='author'>
  <div class='row'>
    <div class="col-xs-12">
      <h3 class="title">About Veera Sundar</h3>
      <p>Veera Sundar is a web application developer and the founder of <a href="http://feedmerang.com">Feedmerang</a>, <a href="http://veerasundar.com/app/countrack/">countrack.me</a>, <a href="http://timethetask.appspot.com">timethetask</a> and <a href="http://twikural.veerasundar.com">twikural</a>. Learn more <a href="/blog/about-me.html">about him</a> or Connect with him on <a href="http://twitter.com/vraa">Twitter</a> , <a href="http://github.com/vraa">Github</a> or <a href="http://in.linkedin.com/in/veerasundar">LinkedIn</a>.</p>
    </div>
  </div>
</div>
