<meta charset="UTF-8">

<title>{{ page.title }}</title>

<meta name="author" content="Veera"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.description %}
<meta name="description" content="{{ page.description }}"/>
{% endif %}

<meta name="keywords" content="{{ page.tags | join: ', ' }}"/>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/blog/css/blog.css" media="screen, projection"/>