<div class='short-bio widget'>
  <a href="/blog/about-me.html"><img class='img-responsive' src='/blog/img/veera-portrait.png'/></a>
  {% include author.html %}
</div>

<div class='search-posts widget hidden-xs'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='search-box'>
        <iframe src="http://duckduckgo.com/search.html?width=150&site=veerasundar.com&prefill=Search" style="overflow:hidden;margin:0;padding:0;width:208px;height:40px;" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="ad-sky-scraper widget">
  <div class="row">
    <div class="col-md-12 gad">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- blog-sidebar -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:160px;height:600px"
           data-ad-client="ca-pub-4601926589924919"
           data-ad-slot="8907124265"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>

<div class='recent-post widget'>
  <div class='row'>
    <div class='col-xs-12'>
      <h3>Recent 5 posts</h3>
      <div class='matter'>
        <ul>
          {% for post in site.posts limit:5 %}
            <li>
              <a href="/blog{{post.url}}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='all-posts widget'>
  <div class='row'>
    <div class='col-xs-12'>
      <h3>Archive</h3>
      <div class='matter'>
        <a href='/blog/archive.html' title='See all posts from Veera Sundar blog'>View all {{ site.posts | size }} posts</a>
      </div>
    </div>
  </div>
</div>
