<div class="me group">
    <h2 class="name"><a href="http://veerasundar.com/blog">V</a></h2>
    <p class="punch-line">JavaScript developer, Staff Software Engineer at Visa</p>
    <ul class="social-links">
        <li>
            <a href="mailto:veera.k.sundar@gmail.com"><i class="icon-envelope"></i> <em>Email</em></a>
        </li>
        <li>
            <a href="https://github.com/vraa"><i class="icon-beaker"></i> <em>Github</em></a>
        </li>
        <li>
            <a href="https://twitter.com/vraa"><i class="icon-twitter"></i> <em>Twitter</em></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/veerasundar"><i class="icon-linkedin"></i> <em>LinkedIn</em></a>
        </li>
        <li>
            <a href="http://veerasundar.com/resume"><i class="icon-document"></i> <em>Resume</em></a>
        </li>
    </ul>
</div>