<div class="me group">
    <h2 class="name"><a href="/blog/">V</a></h2>
    <p class="punch-line">JavaScript developer, Staff Software Engineer at Visa</p>
    <ul class="social-links">
        <li>
            <a href="/blog/about/"><i class="icon-info-with-circle"></i> <em>About</em></a>
        </li>
        <li>
            <a href="/blog/projects/"><i class="icon-tv"></i> <em>Projects</em></a>
        </li>
        <li>
            <a href="/blog/contact/"><i class="icon-paper-plane"></i> <em>Contact</em></a>
        </li>
    </ul>
</div>
