<div class="one-liner">
    <ul>
        <li>
            <p>this == that == self = =&gt;</p>
        </li>
        <li>
            <p>Undefined is not a function</p>
        </li>
        <li>
            <p>Who's there? Knock knock. Async.</p>
        </li>
        <li>
            <p>typeof NaN === 'number' // true</p>
        </li>
        <li>
            <p>NaN !=== NaN // true</p>
        </li>
        <li>
            <p>Once upon a time, there was an IE6...</p>
        </li>
        <li>
            <p>10 lines = 10 issues; 500 lines = looks fine; // code review</p>
        </li>
    </ul>
</div>