* {
  box-sizing:border-box;
}

a {
  text-decoration: none;
}

body{
  background-color: $site-bg-color;
  color: $site-fg-color;
  font: 1em "Source Sans Pro", Arial, Consolas, Sans;
  text-align: center;
  padding: 0;
}

header {
  background-color:$dark-orange;
  padding:$big-pad/2 0;
  position: fixed;
  top:0;
  left:0;
  height: 150px;
  width:100%;
  z-index: 100;
}

.logo {
  margin: 0px;
  padding: $pad;
  font-weight: 200;

  @mixin filled {
    color: $dark-orange;
    background-color: $light-orange;
    padding: $pad 2*$pad;
    border: 1px solid $dark-orange;
  }

  @mixin shallow {
    color: $light-orange;
    background-color: $dark-orange;
    padding: $pad 2*$pad;
    border: 1px solid $light-orange;
  }

  a {
    text-decoration: none;
  }

  .v {
    @include filled;
    transition:all 1s;

    &:hover{
      @include shallow;
    }
  }

  .blog {
    @include shallow;
    margin-left: $pad/2;
  }

}

.tagline {
  color: $light-orange;
  margin: 5px;
  font-weight: 100;
}

.content {
  padding-top:150px;
}

.me {
  height: 100px;
  text-align: left;
  font-weight: 200;

  p {
    margin: 0;
  }

  img {
    height: 100px;
  }

  .photo {
    float: left;
    margin-right: 2*$pad;
  }

  .short-bio {
    height: 100px;

    .short-bio-wrapper {
      position:relative;
      top:50%;
      transform: translateY(-50%);
    }

    ul {
      margin: $pad 0 0 0;
      padding: 0;

      a {
        text-decoration: none;
        border-bottom: 1px dashed;
        color: $light-black;
      }

      li {
        display: inline-block;
        margin: 0 $pad/2;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .name-job {
    font-size: 1.5rem;
    color: $light-black;
  }

  .name {
    font-weight: 400;
  }

  .job{
    font-weight: 300;
  }

}

.box {
  background-color:$white;
  color: $dark-black;
  margin: 2*$pad;
  box-shadow:0 0 3px $lighter-black;
  border-radius:3px;

  h2 {
    padding:$big-pad 0 $big-pad 0;
    margin:0;
    text-transform: uppercase;
  }
}

footer {
  background-color:$dark-black;
  padding:$pad 0;
  color: $light-black;
}

@media screen and (min-width:960px) {
}

