* {
  box-sizing:border-box;
}

a {
  text-decoration: none;
  color: $link-color;
}

body{
  background-color: $site-bg-color;
  color: $site-fg-color;
  font: 1em "Source Sans Pro", Arial, Consolas, Sans;
  text-align: center;
  padding: 0;
}

header {
  background-color:$dark-orange;
  padding:$big-pad/2 0;
  position: fixed;
  top:0;
  left:0;
  height: 150px;
  width:100%;
  z-index: 100;
}

.cta-button {
  padding: $pad/2 $pad;
  border: 1px solid $dark-orange;
  border-radius:50px;
  color: $dark-orange;
  text-decoration: none;
  transition: all .3s;

  &:hover,
  &:focus {
    background-color:$dark-orange;
    color: $white;
  }
}

.logo {
  margin: 0px;
  padding: $pad;
  font-weight: 200;

  @mixin filled {
    color: $dark-orange;
    background-color: $light-orange;
    padding: $pad 2*$pad;
    border: 1px solid $dark-orange;
  }

  @mixin shallow {
    color: $light-orange;
    background-color: $dark-orange;
    padding: $pad 2*$pad;
    border: 1px solid $light-orange;
  }

  a {
    text-decoration: none;
  }

  .v {
    @include filled;
    transition:all 1s;

    &:hover{
      @include shallow;
    }
  }

  .blog {
    @include shallow;
    margin-left: $pad/2;
  }

}

.tagline {
  color: $light-orange;
  margin: 5px;
  font-weight: 100;
}

.content {
  padding-top:150px;
}

.me {
  height: 100px;
  text-align: left;
  font-weight: 200;

  p {
    margin: 0;
  }

  img {
    height: 100px;
  }

  .photo {
    float: left;
    margin-right: 2*$pad;
  }

  .short-bio {
    height: 100px;

    .short-bio-wrapper {
      position:relative;
      top:50%;
      transform: translateY(-50%);
    }

    .name-job {
      font-size: 1.1rem;
    }

    .resume-link {
      display: none;
    }

    ul {
      margin: $pad 0 0 0;
      padding: 0;
      font-size: .9rem;

      a {
        text-decoration: none;
        border-bottom: 1px dashed;
        color: $light-black;
      }

      li {
        display: inline-block;
        margin: 0 $pad/2;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        em {
          display: none;
        }
      }
    }
  }
  .name-job {
    font-size: 1.5rem;
    color: $light-black;
  }

  .name {
    font-weight: 400;
  }

  .job{
    font-weight: 300;
  }

}

.box {
  background-color:$white;
  color: $dark-black;
  margin: 2*$pad;
  box-shadow:0 0 5px #ccc;
  border-radius:3px;

  /* clearfix */
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  h2 {
    padding:$big-pad 0 $big-pad 0;
    margin:0;
    text-transform: uppercase;
  }
}

footer {
  background-color:$dark-black;
  padding:$pad 0;
  color: $light-black;
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color:$dark-black;
  }

  h3, p {
    margin: 0;
  }

  li {
    text-align: left;
    padding: $medium-pad;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .date {
    font-size: 1rem;
    font-weight: 300;
    margin-top: $pad;
    color: $light-black;
  }

  .excerpt {
    display: none;
  }
}

.projects {

  ol {
    list-style:none;
    padding: 0;
    margin: 0;
  }

  li {
    position:relative;
    margin-bottom: $medium-pad;
  }

  h3 {
    position:absolute;
    z-index: 3;
    opacity: .9;
    left:50%;
    top:50%;
    font-size: 2rem;
    font-weight: 200;
    background-color:$dark-orange;
    color: $white;
    padding:$pad 2*$pad;
    margin:0;
    transform: translateX(-50%) translateY(-50%);

    a {
      color: $white;
    }
  }

  img {
    width: 100%;
    z-index: 1;
    opacity: .5;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  p {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}

.extra {
  padding: 2*$pad;
}

.other-posts{
  display: none;
}


.post {

  padding: 0 2*$pad;

  h1 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 3rem;
    margin:0;
    padding: 2*$pad 0;
    text-transform: none;
  }

  .date {
    margin: 0;
    padding:2*$pad 0;
    font-weight: 100;
    position: relative;
    border-top:1px solid $line-color;
    border-bottom: 1px solid $line-color;

    .prev,
    .next {
      position:absolute;
      width: 30px;
      height: 30px;
      color: $dark-black;
      border: 1px solid $dark-black;
      border-radius:50%;
      top:50%;
      transform: translateY(-50%);
    }

    .prev {
      left: 2*$pad;

      &:after {
        position:absolute;
        content: '◁';
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: .8rem;
        font-weight: 100;
      }
    }

    .next {
      right: 2*$pad;

      &:after {
        position:absolute;
        content: '◁';
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(180deg);
        font-size: .8rem;
        font-weight: 100;
      }
    }
  }

  h2 {
    font-size: 1.7rem;
    line-height: 2.7rem;
    margin: 0;
    padding: $pad 0;
    text-transform: none;
    font-weight: 100;
  }

  h3, h4, h5 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0;
    padding: $pad 0;
    text-transform: none;
    font-weight: 100;
  }

  p
   {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin:$pad 0;
    padding-bottom:$pad;

    code {
      background-color: #fafafa;
      font-family: Consolas, monospace ;
      font-size: 1.3rem;
      line-height: 2.3rem;
      word-break: break-all;
      padding: 2px $pad/2;
    }
  }

  ol li,
  ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  a {
    color: $link-color;

    &:hover {
      border-bottom:1px dashed;
    }
  }

  img {
    max-width: 100%;
    margin:$pad -$pad;
  }

  .post-content {
    text-align: left;

    pre {
      background-color: #fafafa;
      padding: $pad/2;
      font-family: Consolas, monospace ;
      font-size: .9rem;
    }
  }
}

@media screen and (min-width: 600px){

  .posts-list.recent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width:50%;
      


      &:first-child {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        border-bottom: 1px solid $line-color;

        .excerpt {
          width:80%;
          margin: 0 auto;
          text-align: justify;
        }
      }

      &:nth-child(2) {
        border-bottom: 1px solid $line-color;
        border-right: 1px solid $line-color;
      }

      &:nth-child(3) {
        border-bottom: 1px solid $line-color;
      }

      &:nth-child(4) {
        border-right: 1px solid $line-color;
      }

      &:nth-child(5) {
      }
    }
  }

  .posts-list .excerpt {
    display: block;
    padding: 2*$pad 0;
    color: $light-black;
    font-size: 1rem;
    line-height: 1.5rem;
    a {
      color: $link-color;
    }
  }

  .projects ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width:50%;
      overflow: hidden;
      padding: 2*$pad;

      img {
        height: 300px;
        width: auto;
      }
    }
  }
}

@media screen and (min-width:900px) {
  .content {
    display: flex;
    flex-direction: row;

    .left-column {
      order: 1;
      width: 20%;
      
      .me.box {
        height: auto;
        margin-left: 2*$pad;
        margin-right: 0;
        padding:2*$pad;
        text-align: center;

        .name-job {
          border-bottom:1px solid $line-color;
        }

        .name-job em {
          display: none;
        }

        .name {
          display: block;
          color: $dark-black;
          padding: $pad 0;
          font-size: 1.3rem;
        }

        .job {
          display: block;
          font-size: 1rem;
          margin-bottom: 2*$pad;
        }

        .photo {
          float: none;
          margin:0 0 2*$pad 0;
          
          img {
            border-radius:50%;
          }
        }

        .short-bio {
          height: auto;
        }

        .short-bio-wrapper {
          top: 0;
          transform: none;
          margin: -2*$pad;
        }

        .elsewhere {
          text-align: left;
          font-size: .9rem;
          padding: 0 2 *$pad;
          border-bottom:1px solid $line-color;

          li {
            display: block;
            margin: $pad 0;

            a {
              border-bottom: none;
            }

            em {
              display: inline-block;
              font-style: normal;
              font-size: .8rem;

              &:before {
                content: ':';
                margin: 0 $pad/2;
              }
            }
          }
        }

        .resume-link {
          display: block;
          padding: 2*$pad;
          font-size: .9rem;
        }

      }

    }

    .posts.box {
      order: 2;
      width: 60%;
    }

    .posts-list.recent {
      li:first-child {
        h3 {
          font-size: 2rem;
        }
        .date {
          font-size: 1.5rem;
        }
        .excerpt {
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }
    }

    .right-column {
      order: 3;
      width: 20%;
      margin:2*$pad 2*$pad 0 0;
      text-align: left;

      .box {
        margin: 0;
        background:none;
        box-shadow:none;
      }

      .box.projects {
        margin-bottom: 4*$pad;
        h2 {
          padding-top:0;
          padding-bottom:$pad;
          font-size: 1.2rem;
        }

        li {
          width:100%;
          padding:$pad 0;
          margin:0;

          h3 {
            opacity: 1;
            background:none;
            color: $dark-black;
            font-size: 1.2rem;
            padding: 0;
            margin: 0;
            left:60px;
            transform: translateY(-50%);

            a {
              color: $dark-black;
              transition: color .1s;
            }
          }

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            float: left;
            opacity: 1;
            transition: border-radius .2s, height .2s, width .2s;
          }

          &:hover {
            img {
              border-radius: 0;
              height:52px;
              width:52px;
            }

            a {
              color: $darker-black;
            }
          }
        }
      }
    }
  }

  .post-content {
    .date {
      .prev,
      .next {
        height: 75px;
        width: 75px;

        &:after {
          font-size: 1.5rem;
        }
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 2.3rem;
      padding-bottom: 2*$pad;

      code {
        font-size: 1.1rem;
        line-height: 2.1rem;
      }
    }

    ol li,
    ul li {
      font-size: 1.3rem;
      line-height: 2.3rem;
    }
  }
}

