$rufous:#A81C07;
$dark-orange:#D9381E;
$light-orange:#FFDAB9;
$light-grey:#f5f0eb;
$light-blue:#eaf3f9;
$dark-black:#333333;
$light-black:#666666;
$lighter-black:#888888;
$white:#ffffff;

$site-bg-color:$light-orange;
$site-fg-color:$light-black;
$line-color:$light-grey;
$link-color:$dark-orange;

$pad:10px;
$medium-pad: (5 * $pad) / 2;
$big-pad: 5 * $pad;