<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>{{ page.title }}</title>

  <meta name="author" content="Veerasundar" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}" />

  <!--Google font -->
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/blog/css/syntax.css" />

  <!-- twitter bootstrap -->
  <link rel="stylesheet" href="/blog/css/bootstrap.min.css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/blog/css/blog.css" media="screen, projection" />

</head>

<body class='blog'>
  
</body>
</html>
