<!DOCTYPE html>
<html lang='en'>
<head>
  {% include meta.html %}  
</head>

<body class='blog'>
  <div class='container'>
    <div class='row'>
      <div class='page-wrapper col-xs-12 col-md-10'>
        
        <div class='row'>
          <div class='main col-sm-8'>
          
            <nav>
              <div class='row'>
                <div class='col-xs-12 col-sm-6'>
                  {% include brand.html %}
                </div>
                <div class='col-xs-12 col-sm-6'>
                  {% include site-menu.html %}
                </div>
              </div>
            </nav>

            <div class='row'>
              <div class='col-xs-12'>
                <div class='content'>
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
          <div class='side col-sm-4'>
            {% include sidebar.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
