---
layout: default
postpage: yes
---
<div id="post" class='stand-alone post'>

    <input id="postId" type="hidden" value="{{ page.id }}" />

   <h1>
      {{ page.title }}
    </h1>

    <section class='content'>
      {{ content }}
    </section>
    
    {% include author.html %}
   
    <!-- PREVIOUS / NEXT -->
    <section class='other-posts row'>
        {% if page.next.url %}
            <section class='next col-xs-12 col-sm-6'>
                <h6>Newer Post </h6>
                <p>
                    <a id="{{page.next.id}}" href="/blog{{page.next.url}}" title="Newer post: {{page.next.title}}">{{page.next.title}}</a>
                </p>
            </section>
        {% endif %}
        {% if page.previous.url %}
            <section class='previous col-xs-12 col-sm-6'>
                <h6>Older Post</h6>
                <p>
                    <a id="{{page.previous.id}}" href="/blog{{page.previous.url}}" title="Older post: {{page.previous.title}}">{{page.previous.title}}</a>
                </p>    
            </section>
        {% endif %}
    </section>
    <!-- end PREVIOUS / NEXT -->

    <!-- FB Like box -->
    <section class='fb row hidden-xs'>
        <div class='col-xs-12'>
            <div class="fb-like-box" data-href="https://www.facebook.com/veera.sundar.blog" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
    </section>
    <!-- end FB like box -->


    <!-- comments section -->
    <section id="disqus_thread"></section>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'vraa'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

</div>