<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="author" content="Veera"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}

    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/blog/css/v8-main.css" media="screen, projection"/>

</head>
<body>

<div class="site">

    {% include v8-me.html %}

    <section class="content">

        {{ content }}

    </section>

</div>

<script type="text/javascript">
    (function () {
        "use strict";

        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                init()
            }
        }

        function init() {
            animateSocialIcons();
        }

        function animateSocialIcons() {
            var icons = document.querySelectorAll('.social-links li a i'),
                    numOfIcons = icons.length,
                    i;
            for (i = 0; i < numOfIcons; i++) {
                (function (i) {
                    setTimeout(function () {
                        icons[i].classList.add('animated', 'bounceIn');
                    }, i * 100);
                }(i));
            }
        }

    }());
</script>
    {% include social-scripts.html %}

</body>
</html>