<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="author" content="Veera"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% endif %}

    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}"/>
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/blog/css/v8-main.css" media="screen, projection"/>

</head>
<body>

<div class="site">

    {% include v8-me.html %}

    {% include v8-one-liner.html %}

    <section class="content">

        <section class="posts box">
            {{ content }}
        </section>

    </section>
</div>

</body>
</html>