@import "_variables";

.post {

  padding: 2 * $pad;

  .title {
    @include h1Title;
  }

  .date {
    margin-top: $pad;
    font-size: .8rem;
    color: $grey;
  }

  .post-content {
    margin-top: $pad;
    @include text;

    h2 {
      @include h2Title;
    }

    h3 {
      @include h3Title;
    }

    p {
      margin-top: 2 * $pad;
    }

    ol,
    ul {
      margin-top: 2 * $pad;
      margin-left: 2 *  $pad;

      li {
        margin-top: $pad;
      }
    }

    ul {
      list-style: circle;
    }

    ol {
      list-style: decimal;
    }

    .highlight {
      margin-top: $pad;
      margin-left: -(2 * $pad);
      margin-right: -(2 * $pad);
      padding: 2 * $pad;

      code {
        font: 1rem "Ubuntu Mono";
        overflow: auto;
      }
    }

    .highlighter-rouge {
      font: .9rem Consolas;
      background-color: $lighter-grey;
      padding: 3px;
    }

    img {
      margin: $pad 0;
    }

    iframe {
      margin-top: $pad;
    }
  }
}

.comments {
  padding: 2 * $pad;
  border-top: 1px solid $blue;
  font: 1rem 'Open Sans', sans-serif;
}