@import "_variables";

@media (min-width: 600px) {

  .me {

    .social-links {
      i[class^="icon-"] {
        font-size: 1rem;
      }
      em {
        display: inline-block;
        margin-left: $pad / 2;
      }
    }

  }

  .author {
    position: relative;
    height: 200px;
    margin-bottom: 6 * $pad;
    text-align: left;
    padding-left: 250px;
    border-bottom: 1px solid $light-blue;

    .photo {
      border-radius: 0;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      height: 200px;
      width: auto;
    }

    .intro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}