$white: #ffffff;
$black: #3d3d3d;

$darker-grey: #6A6A6A;
$dark-grey: #737373;
$grey: #949494;
$light-grey: #A6A6A6;
$lighter-grey: #eaeaea;

$darker-blue: #537BC3;
$dark-blue: #5E88BF;
$blue: #73B2D9;
$light-blue: #8BCAD9;
$lighter-blue: #C4EEF2;

$pad: 10px;