$white: #ffffff;
$black: #3d3d3d;

$grey: #7f8c8d;
$dark-grey: darken($grey, 10%);
$darker-grey: darken($grey, 20%);
$light-grey: lighten($grey, 10%);
$lighter-grey: lighten($grey, 20%);


$blue: #2980b9;
$dark-blue: darken($blue, 10%);
$darker-blue: darken($blue, 20%);
$light-blue: lighten($blue, 10%);
$lighter-blue: lighten($blue, 20%);

$pad: 10px;